{overlay,[{mkdir,"releases/0.0.1"},
          {copy,"./sys.config","releases/0.0.1/sys.config"},
          {copy,"./boot_shim","bin/ui"},
          {copy,"./boot_shim.bat","bin/ui.bat"},
          {copy,"./boot","releases/0.0.1/ui.sh"},
          {copy,"./boot.bat","releases/0.0.1/ui.bat"}]}.

{generate_start_script,false}.

{extended_start_script,true}.

{include_src,false}.

{include_erts,true}.

{release,{ui,"0.0.1"},[{ui,"0.0.1"},elixir,iex,sasl]}.

{lib_dirs,["/Users/jbyler/Workspaces/nervy/_build/dev/lib",
           "/Users/jbyler/Workspaces/nervy/deps",
           "/usr/local/Cellar/elixir/1.2.5/bin/../lib/eex/ebin",
           "/usr/local/Cellar/elixir/1.2.5/bin/../lib/elixir/ebin",
           "/usr/local/Cellar/elixir/1.2.5/bin/../lib/ex_unit/ebin",
           "/usr/local/Cellar/elixir/1.2.5/bin/../lib/iex/ebin",
           "/usr/local/Cellar/elixir/1.2.5/bin/../lib/logger/ebin",
           "/usr/local/Cellar/elixir/1.2.5/bin/../lib/mix/ebin"]}.

