[{sasl,[{errlog_type,error}]},
 {logger,
     [{level,debug},
      {console,[{metadata,[request_id]},{format,<<"[$level] $message\n">>}]}]},
 {ui,[{'Elixir.Ui.Endpoint',
          [{server,true},
           {url,[{port,80},{host,<<"localhost">>}]},
           {root,<<"/Users/jbyler/Workspaces/nervy/apps/ui">>},
           {secret_key_base,
               <<"bNKMWvEBfCDV/XUBij2lLue7DZZWYqBoGWbTVQc1IbtPEqUZGclat9/VGFcwKL9y">>},
           {render_errors,[{accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Ui.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,4000}]},
           {debug_errors,true},
           {code_reloader,true},
           {check_origin,false},
           {watchers,
               [{node,
                    [<<"node_modules/brunch/bin/brunch">>,<<"watch">>,
                     <<"--stdin">>]}]},
           {live_reload,
               [{patterns,
                    [#{'__struct__' => 'Elixir.Regex',
                       opts => <<>>,
                       re_pattern => {re_pattern,1,0,0,
                           <<69,82,67,80,166,0,0,0,0,0,0,0,81,0,0,0,255,255,
                             255,255,255,255,255,255,112,0,47,0,0,0,1,0,0,0,
                             64,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
                             0,0,0,0,0,0,125,0,98,29,112,29,114,29,105,29,118,
                             29,47,29,115,29,116,29,97,29,116,29,105,29,99,29,
                             47,85,12,127,0,9,0,1,29,106,29,115,113,0,9,29,99,
                             29,115,29,115,113,0,9,29,112,29,110,29,103,113,0,
                             11,29,106,29,112,29,101,29,103,113,0,9,29,106,29,
                             112,29,103,113,0,9,29,103,29,105,29,102,113,0,9,
                             29,115,29,118,29,103,114,0,65,27,114,0,98,0>>},
                       source => <<"priv/static/.*(js|css|png|jpeg|jpg|gif|svg)$">>},
                     #{'__struct__' => 'Elixir.Regex',
                       opts => <<>>,
                       re_pattern => {re_pattern,1,0,0,
                           <<69,82,67,80,112,0,0,0,0,0,0,0,81,0,0,0,255,255,
                             255,255,255,255,255,255,112,0,111,0,0,0,1,0,0,0,
                             64,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
                             0,0,0,0,0,0,125,0,44,29,112,29,114,29,105,29,118,
                             29,47,29,103,29,101,29,116,29,116,29,101,29,120,
                             29,116,29,47,85,12,127,0,9,0,1,29,112,29,111,114,
                             0,9,27,114,0,44,0>>},
                       source => <<"priv/gettext/.*(po)$">>},
                     #{'__struct__' => 'Elixir.Regex',
                       opts => <<>>,
                       re_pattern => {re_pattern,1,0,0,
                           <<69,82,67,80,106,0,0,0,0,0,0,0,81,0,0,0,255,255,
                             255,255,255,255,255,255,119,0,120,0,0,0,1,0,0,0,
                             64,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
                             0,0,0,0,0,0,125,0,38,29,119,29,101,29,98,29,47,
                             29,118,29,105,29,101,29,119,29,115,29,47,85,12,
                             127,0,9,0,1,29,101,29,120,114,0,9,27,114,0,38,0>>},
                       source => <<"web/views/.*(ex)$">>},
                     #{'__struct__' => 'Elixir.Regex',
                       opts => <<>>,
                       re_pattern => {re_pattern,1,0,0,
                           <<69,82,67,80,116,0,0,0,0,0,0,0,81,0,0,0,255,255,
                             255,255,255,255,255,255,119,0,120,0,0,0,1,0,0,0,
                             64,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
                             0,0,0,0,0,0,125,0,48,29,119,29,101,29,98,29,47,
                             29,116,29,101,29,109,29,112,29,108,29,97,29,116,
                             29,101,29,115,29,47,85,12,127,0,11,0,1,29,101,29,
                             101,29,120,114,0,11,27,114,0,48,0>>},
                       source => <<"web/templates/.*(eex)$">>}]}]}]},
      {'Elixir.Ui.Repo',
          [{adapter,'Elixir.Sqlite.Ecto'},
           {database,<<"db/ui_dev.sqlite">>},
           {pool_size,10}]}]},
 {phoenix,
     [{stacktrace_depth,20},
      {generators,[{migration,true},{binary_id,false}]}]}].
